html {
    background-color: #b1c9c3;
}

@font-face {
    font-family: qud1;
    src: url(fonts/SourceCodePro-Regular.ttf);
}

body {
    margin: 0px;
}

h1 {
    font-family: qud1;
}

p {
    font-family: qud1;
}

#header {
    position: relative;
    background-color: #40a4b9; 
}

#title {
    margin-top: 0px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#author {
    margin-top: 0px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-align: center;
}

#timerModes {
    position: relative;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    width: 500px;
}

#timerModes button {
  background-color: #0096ff;
  border: 1px solid black;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-family: qud1;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  float: left;
  width: 33%;
}

#timer {
    position: relative;
    background-color: #77bfcf; 
    margin: 80px auto 20px auto;
    width: 25%;
    text-align: center;
    font-family: qud1;
    font-size: 52pt;
    align-content: center;
}

#transportButtons {
    position: relative;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    width: 25%;
}

#transportButtons button {
    margin: 0px 5px;
    width: 50px;
    height: 50px;
    font-size: 20pt;
    border: 1px solid black;
}